<!DOCTYPE html>
<html lang="en" class="no-js">
  <head itemscope itemtype="https://schema.org/Website">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Refresh" content="180">
    #if 'cwop' in $Extras
    <meta name="description" content="About the $station.hardware $station.location Weather Station ($Extras.cwop). This web site is powered by WeeWX">
    #else
    <meta name="description" content="About the $station.hardware $station.location Weather Station. This web site is powered by WeeWX">
    #end if
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="manifest.webmanifest" crossorigin="use-credentials">
    <link rel="profile" href="https://gmpg.org/xfn/11" />
    #if 'web_url' in $Extras
    <link rel="canonical" href="$Extras.web_url"/>
    #end if
    <title>About the $station.location Weather Station</title>
    
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <script src="js/checkdiff.js"></script>
  </head>

  <body>
    <header>
      <div class="container-fix" >
        <div class="h-left" >
          <h1><i class="fa-solid fa-cloud" ></i> $station.location </h1>
          <p>$station.latitude[0]&deg; $station.latitude[1]' $station.latitude[2] | $station.longitude[0]&deg; $station.longitude[1]' $station.longitude[2] | $station.altitude | <a href="https://www.google.com/maps/?q=$station.latitude[0]&deg;%20$station.latitude[1]%20$station.latitude[2],$station.longitude[0]&deg;%20$station.longitude[1]%20$station.longitude[2]" target="_blank" ><i class="fa-solid fa-location-dot" ></i> Show on map</a></p>
          <h2>Station Information</h2>
          <p><i class="fa-solid fa-clock" ></i> $current.dateTime $current.dateTime.format("%Z")</p>
          <p id="freshweather" class="m-orange"></p>
          <script>
            window.onload = checkDiff("$current.dateTime ($current.dateTime.format('%Z'))");
          </script>
        </div>
        <div class="h-right" >
          <table>
            <tr>
              <td><b>Station:</b></td>
              <td>$station.hardware</td>
            </tr>
            <tr>
              <td><b>Software:</b></td>
              <td><a href="https://weewx.com/" target="_blank" >WeeWX v$station.version</a></td>
            </tr>
            <tr>
              <td><b>Weewx uptime:</b></td>
              <td>$station.uptime.long_form</td>
            </tr>
            <tr>
              <td><b>Server uptime:</b></td>
              <td>$station.os_uptime.long_form</td>
            </tr>
          </table>
        </div>
        <nav>
          <ul class="topnav" id="myTopnav">
            <li class="icon"><a href="javascript:void(0);" onclick="myFunction()"><i class="fa-solid fa-bars" ></i></a></li>
            <li><a href="/" >Current</a></li>
            <li><a href="week.html" >Week</a></li>
            <li><a href="month.html" >Month</a></li>
            <li><a href="year.html" >Year</a></li>
            <li><a href="summary.html" >Summaries</a></li>
            <li class="active"><a href="about.html" >About</a></li>
            <li><a href="RSS/weewx_rss.xml" ><i class="fa-solid fa-rss" ></i></a></li>
	        #if 'twitter_url' in $Extras
	        <li><a href=$Extras.twitter_url><i class="fa-brands fa-twitter" ></i></a></li>
	        #end if
	        #if 'youtube_url' in $Extras
            <li><a href=$Extras.youtube_url><i class="fa-brands fa-youtube" ></i></a></li>
            #end if
          </ul>
        </nav>
      </div>
    </header>
    
    <!-- Main container -->  
     <div class="main" >
        <div class="container" >
		<div class="card">
			<p> Put whatever station information you would like. </p>	        		
        	</div>		      	
    </div>
  </div>
   
    <footer>
      <div class="container-fix">
        <div style="text-align:center">
          #if 'you' in $Extras
          <i class="fa-solid fa-dragon"> </i><a href=mailto:$Extras.email> $Extras.you</a> 
          #end if
          &sdot;
          Copyright <i class="fa-regular fa-copyright"></i> $latest.dateTime.format("%Y") 
          <br>
          Sofaskin by <a href="https://neoground.com">Neoground</a>
          &sdot;
          CW9009 Version by <a href="https://www.centuryfarmweather.com">Century Farm Weather</a>
          &sdot;
          Powered by<i class="fa-solid fa-cog fa-spin fa-fw" aria-hidden="true"></i><a href="https://weewx.com/" target="_blank">WeeWX</a> 
        </div>
      </div>
    </footer>
    #if 'googleAnalyticsId' in $Extras
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=$Extras.googleAnalyticsId"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '$Extras.googleAnalyticsId');
    </script>
    #end if
	<!-- Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon -->
	<script>
	function myFunction() {
	    var x = document.getElementById("myTopnav");
	    if (x.className === "topnav") {
	        x.className += " responsive";
	    } else {
	        x.className = "topnav";
	    }
	}
	</script>

    </body>
</html>


